.string {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.string::before {
    content: '';
    width: 100%;
    height: calc(var(--string-height) * 1px);
    background: linear-gradient(0deg, black 0%, rgba(100, 100, 100, 0.2) 10% , white 50% , rgba(100, 100, 100, 0.2) 90% , gray 100% ), repeating-linear-gradient(to right, black 0px, white 3px);
    box-shadow: 76px 3px 10px #806233;
    z-index: 1;
    position: absolute;
    /* top: 22px; */
    top: calc(var(--string-top-position) * 1px);
}