@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
    --fretboard-height: 400;
    --number-of-strings: 6;
    --string-height: 10;
    --half-string-height: calc(var(--string-height) / 2);
    --string-top-position: calc(var(--fretboard-height) / var(--number-of-strings) / 2 - var(--half-string-height));
    --double-fretmark-position-1: calc(var(--fretboard-height) * 1 / var(--number-of-strings));
    --double-fretmark-position-2: calc(var(--fretboard-height) * (var(--number-of-strings) - 1) / var(--number-of-strings));
    --noteDotOpacity: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #353535;
    font-family: Lato, sans-serif;
}

.settings {
    display: flex;
    color: #fff;
    padding: 20px;
    border-bottom: 1px solid #444;
    background-color: #282828;
}

.accidental-selector {
    margin-left: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

label {
    margin: 0 10px;
}

.fretboard {
    display: flex;
    flex-direction: column;
    background: #be975b url(./images/wood-pattern.png);
    border-top: 3px solid #bbb;
    border-bottom: 3px solid #bbb;
    width: 100%;
    height: calc(var(--fretboard-height) * 1px);
    margin-top: 50px;
}

.string {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.string::before {
    content: '';
    width: 100%;
    height: calc(var(--string-height) * 1px);
    background: linear-gradient(0deg, black 0%, rgba(100, 100, 100, 0.2) 10% , white 50% , rgba(100, 100, 100, 0.2) 90% , gray 100% ), repeating-linear-gradient(to right, black 0px, white 3px);
    box-shadow: 76px 3px 10px #806233;
    z-index: 1;
    position: absolute;
    /* top: 22px; */
    top: calc(var(--string-top-position) * 1px);
}

.note-fret {
    display: flex;
    flex: 1;
    border-right: 10px solid;
    border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.note-fret::before {
    content: attr(data-note);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    background: teal;
    z-index: 2;
    color: #eee;
    opacity: var(--noteDotOpacity);
}

.note-fret:first-child {
    background: #161717;
    min-width: 76px;
    border-right: 20px solid;
    border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.single-fretmark::after,
.double-fretmark::after,
.double-fretmark::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #806233;
}

.single-fretmark::after {
    top: calc(var(--fretboard-height) / 2 * 1px);
    transform: translateY(-50%);
}

.double-fretmark::before,
.double-fretmark::after {
    transform: translate(-110%, -50%);
}

.double-fretmark::before {
    top: calc(var(--double-fretmark-position-1) * 1px);
}

.double-fretmark::after {
    top: calc(var(--double-fretmark-position-2) * 1px);
}

.note-name-section {
    width: 100%;
    color: #fff;
    font-weight: 300;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}
.note-name-section span {
    padding: 10px;
    cursor: pointer;
}

.note-name-section span:hover {
    color: #00baba;
}